nav {
  background: white;
  color: #6070ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .mainMenu {
  display: flex;
  list-style: none;
}
nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 25px;
  transition: 0.2s ease;
}

nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu,
.icons i {
  font-size: 1.5rem;
  display: none;
  cursor: pointer;
  color: white;
}

nav .logo {
  margin: 6px;
  cursor: pointer;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  nav .mainMenu {
    height: 100vh;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    position: fixed;
    padding-top: 50px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding-left: 10px;
    background: #6070ff;
    opacity: 0.97;
    transition: top 1s ease 0s;
    display: none; 
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
  }
  nav .mainMenu li a:hover {
    background: none;
    color: rgb(255, 123, 0);
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }
}

