* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  margin: 0;
  overflow-x: hidden;
}

.background {
  background-image: url("images/header-shapes-mobile.png");
  background-repeat: no-repeat;
  border-radius: 0 0 0 80px;
  width: 375px;
  height: 718px;
  left: 0;
  right: 0;
  top: 0;
  background-position: 0% 80%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar {
  background-color: white;
  color: #6070ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  height: 50px;
  padding: 45px 0;
}

body.active {
  overflow-y: hidden;
}

.bold {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  padding: 206px 24px 0;
}

.logo {
  width: 76px;
  height: 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  padding-left: 24px;
}

.menu {
  padding-right: 24px;
}

.logo:hover {
  transform: scale(1.1);
}

.customise {
  font-size: 16px;
  line-height: 28px;
  color: #344563;
  font-weight: 400;
  margin: 12px 24px;
}

.next-color {
  font-size: 16px;
  font-weight: 500;
  color: #7f8cff;
  margin-left: 24px;
  margin-bottom: 12px;
}

.twitter {
  width: 36px;
  height: 35px;
  background: url(images/sprite.PNG) 0 0;
  margin-left: 24px;
}

.linkedin {
  width: 36px;
  height: 35px;
  background: url(images/sprite.PNG) -35px 0;
  margin-left: -5px;
}

.medium {
  width: 36px;
  height: 35px;
  background: url(images/sprite.PNG) -70px 0;
  margin-left: -5px;
}

.github {
  width: 36px;
  height: 35px;
  background: url(images/sprite.PNG) -105px 0;
  margin-left: -5px;
}

.victory {
  width: 36px;
  height: 35px;
  background: url(images/sprite.PNG) -145px 0;
  background-color: transparent;
  margin-left: -5px;
}

.twitter1 {
  width: 36px;
  height: 35px;
  background: url(images/sprite.PNG) 0 0;
  margin-left: 12px;
}

.linkedin1 {
  width: 36px;
  height: 35px;
  background: url(images/sprite.PNG) -35px 0;
  margin-left: 10px;
}

.medium1 {
  width: 36px;
  height: 35px;
  background: url(images/sprite.PNG) -70px 0;
  margin-left: -13px;
}

.github1 {
  width: 36px;
  height: 35px;
  background: url(images/sprite.PNG) -105px 0;
  margin-left: 24px;
}

.victory1 {
  width: 36px;
  height: 35px;
  background: url(images/sprite.PNG) -140px 0;
  background-color: transparent;
  margin-left: -10px;
}

.back1 {
  background-color: #e5e5e5;
  background-image: url(images/Base2.png);
}

.navbar a {
  text-decoration: none;
}

.container {
  display: flex;
  width: 100%;
}

.spacebetween {
  padding: 57px 0;
  background-color: #e5e5e5;
}

/* ---------------------------------------------------- work section css ------------------------------------------- */
.workbackround {
  background-color: #e5e5e5;
}

.row {
  width: 100%;
  padding: 12px 24px;
}

/* Remove extra left and right margins, due to padding */
.column {
  margin: -5px -8px;
  background-color: #e5e5e5;
}

/* Clear floats after the columns */
.column::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the works cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.workimage {
  padding: 16px 24px;
}

.innerpara {
  font-size: 15px;
  font-weight: 100;
  color: #344563;
}

.canopy {
  color: #344563;
}

.color2 {
  color: #7a869a;
}

.back {
  display: inline-block;
  text-align: left;
  text-decoration: none;
  font-size: 12px;
  justify-content: space-between;
  background-color: #ebebff;
  padding: 5px;
  border-radius: 8px;
}

.tonic {
  text-align: left;
  font-size: 32px;
  color: #172b4d;
}

.button {
  border: none;
  color: white;
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button4 {
  background-color: white;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.button3 {
  margin-left: 24px;
}

.languages {
  padding: 36px 36px 0 36px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.arrow {
  padding-left: 130px;
}

.arrow1 {
  padding-left: 188px;
}

.langcolor {
  background-color: #f7f7f9;
}

.lang {
  padding: 36px 36px 100px;
}

.js {
  width: 303px;
  height: 66.72px;
  border-radius: 8px;
  display: flex;
  padding: 24px;
  margin: 10px 0;
  align-items: center;
}

.js1 {
  display: flex;
  padding-left: 30px;
}

.nodots {
  list-style-type: none;
}

.contact {
  background-image: url(images/Contactme.png);
  margin-bottom: 10px;
  background-color: white;
  background-repeat: no-repeat;
}

.cback {
  color: #ebebff;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  padding: 24px;
}

.more {
  padding-bottom: 35px;
}

.bold1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #fff;
  padding: 106px 24px 24px;
}

input[type=text],
select {
  width: 100%;
  padding: 9px 24px;
  margin: 15px 0;
  color: #172b4d;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

input[type=submit] {
  color: #6070ff;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: vertical;
}

.input {
  display: flex;
  color: #6070ff;
  font-weight: 600;
  font-size: 18px;
}

.font1 {
  color: #172b4d;
  font-weight: 400;
  font-size: 17px;
}

textarea {
  height: 170px;
}
